## Read Data

In [1]:
def process_data(df, year):
    
    df.rename(columns={'Name of institution': 'Institution Name'}, inplace=True)
    df.rename(columns={'Sector name': 'Sector Name'}, inplace=True)
    df.rename(columns={'Calendar system': 'Calendar System'}, inplace=True)
    
    df['Year'] = year[:4]
    df.rename(columns={year: 'Cost'}, inplace=True)
    
    df.drop(['UnitID', 'OPEID', 'List C: High percent change tuition and fee indicator', 'Percent change'], axis=1, inplace=True)
    
    return df

In [17]:
import pandas as pd 
import glob

xls_path = './data/*.xls'
xlsx_path = './data/*.xlsx'

xls_files = glob.glob(xls_path)
xlsx_files = glob.glob(xlsx_path)

dfs = []
years = {0: '2008-09 Tuition and fees', 
         1: '2009-10 Tuition and fees',
         2: '2010-11 Tuition and fees',
         3: '2011-12 Tuition and fees',
         4: '2012-13 Tuition and fees',
         5: '2013-14 Tuition and fees',
         6: '2014-15 Tuition and fees'}

for file in xls_files: 
    print(f'File: {file.split("/")[-1]}')
    df = pd.read_excel(file, sheet_name='TuitionChange')         
    
    for k, year in years.items():
        if year in df.columns:
            df = process_data(df, year)
            df.drop([years[k+2]], axis=1, inplace=True)
    
    print(f'Empty Counts: {df.isnull().sum()}\n')
    dfs.append(df)
    
for file in xlsx_files:
    print(f'File: {file.split("/")[-1]}')
    df1 = pd.read_excel(file, sheet_name='TuitionChange') 
    df2 = df1.copy()
    
    for k, year in years.items():
        if year in df1.columns:
            df1.drop([years[k+2]], axis=1, inplace=True)
            df1 = process_data(df1, year)
            df2.drop([year], axis=1, inplace=True)
            df2 = process_data(df2, years[k+2])
    
    print(f'Empty Counts 1: {df1.isnull().sum()}\n')      
    dfs.append(df1)
    print(f'Empty Counts 2: {df2.isnull().sum()}\n')
    dfs.append(df2)
        
data = pd.concat(dfs, axis=0, ignore_index=True)

data

File: data\CATClists2010.xls
Empty Counts: Sector                0
Sector Name           0
Institution Name      0
State                 0
Calendar System       0
Cost                141
Year                  0
dtype: int64

File: data\CATClists2011.xls
Empty Counts: Sector                0
Sector Name           0
Institution Name      0
State                 0
Calendar System       0
Cost                159
Year                  0
dtype: int64

File: data\CATClists2012.xls
Empty Counts: Sector                0
Sector Name           0
Institution Name      0
State                 0
Calendar System       0
Cost                179
Year                  0
dtype: int64

File: data\CATClists2013.xlsx
Empty Counts 1: Sector                0
Sector Name           0
Institution Name      0
State                 0
Calendar System       0
Cost                120
Year                  0
dtype: int64

Empty Counts 2: Sector              0
Sector Name         0
Institution Name    0
State               0
Calendar System     0
Cost                0
Year                0
dtype: int64

File: data\CATClists2014.xlsx
Empty Counts 1: Sector               0
Sector Name          0
Institution Name     0
State                0
Calendar System      0
Cost                57
Year                 0
dtype: int64

Empty Counts 2: Sector              0
Sector Name         0
Institution Name    0
State               0
Calendar System     0
Cost                0
Year                0
dtype: int64

,Sector,Sector Name,Institution Name,State,Calendar System,Cost,Year
0,1,"4-year, public",University of the District of Columbia,DC,Academic,3140.0,2008
1,1,"4-year, public",Escuela de Artes Plasticas de Puerto Rico,PR,Academic,2728.0,2008
2,1,"4-year, public",Lake Washington Technical College,WA,Academic,1892.0,2008
3,1,"4-year, public",University of Puerto Rico-Aguadilla,PR,Academic,1747.0,2008
4,1,"4-year, public",University of Puerto Rico-Ponce,PR,Academic,1747.0,2008
...,...,...,...,...,...,...,...
47617,9,"Less than 2-year, private for-profit",Ross Medical Education Center-Erlanger,KY,Program,15680.0,2014
47618,9,"Less than 2-year, private for-profit",Ross Medical Education Center-Evansville,IN,Program,15680.0,2014
47619,9,"Less than 2-year, private for-profit",Ross Medical Education Center-Johnson City,TN,Program,15680.0,2014
47620,9,"Less than 2-year, private for-profit",Ross Medical Education Center-Owensboro,KY,Program,15680.0,2014
47621,9,"Less than 2-year, private for-profit",Tint School of Makeup & Cosmetology-Seattle,WA,Program,16350.0,2014

## Clean Data

In [14]:
data.isnull().sum()z

Sector                0
Sector Name           0
Institution Name      0
State                 0
Calendar System       0
Cost                656
Year                  0
dtype: int64

In [15]:
null_data = data[data['Cost'].isnull()].groupby('Institution Name').size().sort_values(ascending=False)
print(null_data)

null_data.value_counts()

Institution Name
Miller-Motte Technical College                     4
Webb Institute                                     4
Anthem College-Atlanta                             3
Midwest Technical Institute                        3
Susquehanna County Career and Technology Center    2
                                                  ..
ITT Technical Instituteâ€“Akron                      1
ITT Technical Institute-West Palm Beach            1
ITT Technical Institute-West Chester               1
ITT Technical Institute-University Park            1
Yeshiva College of the Nations Capital             1
Length: 511, dtype: int64

1    372
2    135
4      2
3      2
Name: count, dtype: int64

In [59]:
# fill in null values

from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder

clean_data = data.copy()

string_cols = ['Institution Name']
encoder = LabelEncoder()

for col in string_cols:
    clean_data.loc[:, col + ' Encoded'] = encoder.fit_transform(clean_data.loc[:, col])
    
data_missing = clean_data[clean_data['Cost'].isnull()]
data_complete = clean_data.dropna()

X_train = data_complete[['Year', 'Institution Name Encoded']]
y_train = data_complete['Cost']

X_test = data_missing[['Year', 'Institution Name Encoded']]

model = LinearRegression()
model.fit(X_train, y_train)

predicted_values = model.predict(X_test)

clean_data.loc[clean_data['Cost'].isnull(), 'Cost'] = predicted_values
clean_data['Predicted'] = 0
clean_data['Year'] = pd.to_datetime(clean_data['Year'])

print(clean_data['Year'].unique())

<DatetimeArray>
['2008-01-01 00:00:00', '2009-01-01 00:00:00', '2010-01-01 00:00:00',
 '2011-01-01 00:00:00', '2013-01-01 00:00:00', '2012-01-01 00:00:00',
 '2014-01-01 00:00:00']
Length: 7, dtype: datetime64[ns]

In [84]:
# fill in missing years - still WIP DO NOT RUN

names = clean_data['Institution Name'].unique()

rows = []

earliest = clean_data['Year'].unique().min()
latest = clean_data['Year'].unique().max()

for name in names:
    existing_years = clean_data.loc[clean_data['Institution Name'] == name, 'Year']
    
    if len(existing_years) < 5:
        continue
    
    min_year = existing_years.min()
    max_year = existing_years.max()
    
    all_years = range(min_year, max_year + 1)
    for year in all_years:
        if year not in df.loc[df['Institution Name'] == name, 'Year'].values:
            if year == earliest or year == latest:
                continue
            
            # predict the average cost to fill here
            row = {'Cost': None, 'Year': year, 'Institution Name': name}
            rows.append(row)

TypeError: cannot unpack non-iterable Timestamp object

In [60]:
clean_data.isnull().sum()

Sector                      0
Sector Name                 0
Institution Name            0
State                       0
Calendar System             0
Cost                        0
Year                        0
Institution Name Encoded    0
Predicted                   0
dtype: int64

## Prediction Analysis

In [ ]:
from statsmodels.tsa.arima.model import ARIMA

# print(pd.infer_freq(clean_data.index))
predictions = {}

for name in clean_data['Institution Name'].unique():
    institution_data = clean_data[clean_data['Institution Name'] == name]
    series = institution_data.sort_values(by='Year')
    series.set_index('Year', inplace=True)
    if len(series.index) < 5:
        predictions[name] = None
        continue
    print(f'{series.index}\n')
    series.index = pd.DatetimeIndex(series.index, freq='infer')
    cost = series['Cost']
    # print(f'{name}: {cost}')

    forecast = ARIMA(cost, order=(1,1,1)).fit().forecast(steps=3)
    predictions[name] = forecast
    # print(f'{name}:\n {forecast}\n')

In [9]:
# coefficients = model.coef_

# coefficients_df = pd.DataFrame({'Feature': X_train.columns, 'Coefficient': coefficients})

# coefficients_df['Absolute Coefficient'] = coefficients_df['Coefficient'].abs()
# coefficients_df.sort_values(by='Absolute Coefficient', ascending=False, inplace=True)

# coefficients_df

In [8]:
# from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
# import numpy as np

# mse = mean_squared_error(y_test, predicted)
# rmse = np.sqrt(mse)
# mae = mean_absolute_error(y_test, predicted)
# r2 = r2_score(y_test, predicted)

# print("Mean Squared Error (MSE):", mse)
# print("Root Mean Squared Error (RMSE):", rmse)
# print("Mean Absolute Error (MAE):", mae)
# print("R-squared (R2) score:", r2)

## Add Data to DB

### Postgres

In [123]:
import psycopg2

# Define your connection parameters
db_host = 'localhost'
db_port = '5432'
db_name = 'tuition'
db_user = 'my_user'
db_password = 'password'

# Establish a connection to the PostgreSQL database
try:
    conn = psycopg2.connect(
        host=db_host,
        port=db_port,
        database=db_name,
        user=db_user,
        password=db_password
    )
    print("Connected to the database")
    
    cursor = conn.cursor()
    
    cursor.execute("SELECT version();")
    
    db_version = cursor.fetchone()
    print("PostgreSQL database version:", db_version)
    
except psycopg2.Error as e:
    print("Error connecting to PostgreSQL:", e)

Connected to the database
PostgreSQL database version: ('PostgreSQL 16.2 (Debian 16.2-1.pgdg120+2) on x86_64-pc-linux-gnu, compiled by gcc (Debian 12.2.0-14) 12.2.0, 64-bit',)

In [116]:
create_table_query = '''
CREATE TABLE IF NOT EXISTS Tuition (
    institution VARCHAR(100) NOT NULL,
    year INTEGER NOT NULL,
    sector INTEGER NOT NULL,
    sector_name VARCHAR(100) NOT NULL,
    state VARCHAR(25) NOT NULL,
    high_cost BOOLEAN NOT NULL,
    low_cost BOOLEAN NOT NULL,
    cost INTEGER NOT NULL
);
'''

cursor.execute(create_table_query)

conn.commit()

In [125]:
query = """
    SELECT table_name
    FROM information_schema.tables
    WHERE table_schema = 'public';  -- Assuming tables are in the public schema
"""

# Execute the SQL query
cursor.execute(query)

# Fetch the results
rows = cursor.fetchall()

# Print the table names
for row in rows:
    print(row[0])

tuition
Tuition

In [118]:
from sqlalchemy import create_engine

DATABASE_URL = "postgresql://my_user:password@localhost:5432/tuition"

engine = create_engine(DATABASE_URL)

table_name = 'Tuition'
data_clean.to_sql(table_name, engine, if_exists='replace', index=False)

engine.dispose()

In [124]:
query = "SELECT * FROM Tuition LIMIT 100;"

cursor.execute(query)

rows = cursor.fetchall()

for row in rows:
    print(row)

In [122]:
cursor.close()
conn.close()