## Read Data

In [ ]:
# import pandas as pd 
# import glob

# path = './data/*.xls*'

# files = glob.glob(path)

# data = pd.DataFrame()
# bad_col = 'Name of institutions'
# good_col = 'Name of institution'
# for file in files: 
#     df = pd.read_excel(file, sheet_name='Tuition')
#     if bad_col in df.columns:
#         df.rename(columns={bad_col: good_col}, inplace=True)
    
#     df.drop(['UnitID', 'OPEID'], axis=1, inplace=True)
    
#     if data.empty:
#         data = df
#         continue
    
#     df.drop(['Sector', 'Sector name', 'State', 'List A: High tuition and fee indicator', 'List E: Low tuition and fee indicator'], axis=1, inplace=True)
    
#     data = pd.merge(data, df, on=good_col)

# data

In [1]:
import pandas as pd 
import glob

path = './data/*.xls*'

files = glob.glob(path)

dfs = []
years = ['2010-11 Tuition and fees',
         '2011-12 Tuition and fees',
         '2012-13 Tuition and fees',
         '2013-14 Tuition and fees',
         '2014-15 Tuition and fees']
name_1 = 'Name of institutions'
name_2 = 'Name of institution'
final_name = 'Institution Name'
for file in files: 
    df = pd.read_excel(file, sheet_name='Tuition')
    if name_1 in df.columns:
        df.rename(columns={name_1: final_name}, inplace=True)
    else:
        df.rename(columns={name_2: final_name}, inplace=True)
    
    for year in years:
        if year in df.columns:
            df['Year'] = year[:4]
            df.rename(columns={year: 'Cost'}, inplace=True)
            
    df.rename(columns={'Sector name': 'Sector Name'}, inplace=True)
    df.rename(columns={'List A: High tuition and fee indicator': 'High Cost'}, inplace=True)
    df.rename(columns={'List E: Low tuition and fee indicator': 'Low Cost'}, inplace=True)
    
    df.drop(['UnitID', 'OPEID'], axis=1, inplace=True)
    
    dfs.append(df)
    
data = pd.concat(dfs, axis=0, ignore_index=True)

data

,Sector,Sector Name,Institution Name,State,Cost,High Cost,Low Cost,Year
0,1,"4-year, public",Pennsylvania State University-Main Campus,PA,15250.0,1,0,2010
1,1,"4-year, public",University of Pittsburgh-Pittsburgh Campus,PA,14936.0,1,0,2010
2,1,"4-year, public",University of Vermont,VT,14066.0,1,0,2010
3,1,"4-year, public",University of New Hampshire-Main Campus,NH,13672.0,1,0,2010
4,1,"4-year, public",St Mary's College of Maryland,MD,13630.0,1,0,2010
...,...,...,...,...,...,...,...,...
21068,9,"Less than 2-year, private for-profit",Industrial Technical College,PR,6480.0,0,1,2014
21069,9,"Less than 2-year, private for-profit",American Educational College,PR,6422.0,0,1,2014
21070,9,"Less than 2-year, private for-profit",Future-Tech Institute,FL,6279.0,0,1,2014
21071,9,"Less than 2-year, private for-profit",Rosslyn Training Academy of Cosmetology,PR,6139.0,0,1,2014
21072,9,"Less than 2-year, private for-profit",InterAmerican Technical Institute,FL,2550.0,0,1,2014

## Clean Data

In [2]:
null_counts = data.isnull().sum()

null_counts

Sector              0
Sector Name         0
Institution Name    0
State               0
Cost                3
High Cost           0
Low Cost            0
Year                0
dtype: int64

In [3]:
null_indexes = data[data.isnull().any(axis=1)].index

print(f'Rows with null values: {len(null_indexes)}\n')
for row in null_indexes:
    print(data.iloc[row])

Rows with null values: 3

Sector                                           2
Sector Name         4-year, private not-for-profit
Institution Name                    Webb Institute
State                                           NY
Cost                                           NaN
High Cost                                       -2
Low Cost                                        -2
Year                                          2010
Name: 1919, dtype: object
Sector                                           2
Sector Name         4-year, private not-for-profit
Institution Name                    Webb Institute
State                                           NY
Cost                                           NaN
High Cost                                       -2
Low Cost                                        -2
Year                                          2011
Name: 6098, dtype: object
Sector                                           2
Sector Name         4-year, private not-for-profit
Institution Name                    Webb Institute
State                                           NY
Cost                                           NaN
High Cost                                       -2
Low Cost                                        -2
Year                                          2012
Name: 10374, dtype: object

In [4]:
data_clean = data.dropna()

null_indexes = data_clean[data_clean.isnull().any(axis=1)].index

print(f'Rows with null values: {len(null_indexes)}\n')

Rows with null values: 0

In [5]:
from sklearn.preprocessing import LabelEncoder

string_cols = ['Sector Name', 'State', 'Institution Name']

encoder = LabelEncoder()

for col in string_cols:
    data_clean.loc[:, col + ' Encoded'] = encoder.fit_transform(data_clean.loc[:, col])

# data_encoded = pd.get_dummies(data_clean, columns=string_cols)
    
# data_encoded
data_encoded = data_clean.drop(columns=['Sector Name', 'State', 'Institution Name'])
data_encoded

C:\Users\caleb\AppData\Local\Temp\ipykernel_15912\939650779.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_clean.loc[:, col + ' Encoded'] = encoder.fit_transform(data_clean.loc[:, col])
C:\Users\caleb\AppData\Local\Temp\ipykernel_15912\939650779.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_clean.loc[:, col + ' Encoded'] = encoder.fit_transform(data_clean.loc[:, col])
C:\Users\caleb\AppData\Local\Temp\ipykernel_15912\939650779.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_clean.loc[:, col + ' Encoded'] = encoder.fit_transform(data_clean.loc[:, col])

,Sector,Cost,High Cost,Low Cost,Year,Sector Name Encoded,State Encoded,Institution Name Encoded
0,1,15250.0,1,0,2010,5,43,3225
1,1,14936.0,1,0,2010,5,43,4584
2,1,14066.0,1,0,2010,5,54,4640
3,1,13672.0,1,0,2010,5,35,4422
4,1,13630.0,1,0,2010,5,23,3913
...,...,...,...,...,...,...,...,...
21068,9,6480.0,0,1,2014,6,44,2024
21069,9,6422.0,0,1,2014,6,44,78
21070,9,6279.0,0,1,2014,6,10,1517
21071,9,6139.0,0,1,2014,6,44,3482
21072,9,2550.0,0,1,2014,6,10,2046

## Prediction Analysis

In [32]:
# https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html
# https://realpython.com/linear-regression-in-python/

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# X = data_encoded.drop(columns=['Cost'])
# X = data_encoded[['Year', 'Name of institution_encoded']]
# y = data_encoded['Cost']

# need to split by taking first years as train and last year as test / this splitting is wrong
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(f'Years: {data_encoded['Year'].unique()}')
print(f'data: {len(data_encoded)}')
train = data_encoded[data_encoded['Year'] != '2014']
test = data_encoded[data_encoded['Year'] == '2014']

# X_train = train.drop(columns=['Cost'])
X_train = train[['Year', 'State Encoded', 'Institution Name Encoded', 'Sector']]
y_train = train['Cost']
print(f'year: {X_train['Year'].unique()}, x_train: {len(X_train)}, y_train: {len(y_train)}')

# X_test = test.drop(columns=['Cost'])
X_test = test[['Year', 'State Encoded', 'Institution Name Encoded', 'Sector']]
y_test = test['Cost']
print(f'year: {X_test['Year'].unique()}, x_test: {len(X_test)}, y_test: {len(y_test)}')


model = LinearRegression()
model.fit(X_train, y_train)

predicted = pd.Series(model.predict(X_test), index=X_test.index)

Years: ['2010' '2011' '2012' '2013' '2014']
data: 21070
year: ['2010' '2011' '2012' '2013'], x_train: 16930, y_train: 16930
year: ['2014'], x_test: 4140, y_test: 4140

In [33]:
coefficients = model.coef_

coefficients_df = pd.DataFrame({'Feature': X_train.columns, 'Coefficient': coefficients})

coefficients_df['Absolute Coefficient'] = coefficients_df['Coefficient'].abs()
coefficients_df.sort_values(by='Absolute Coefficient', ascending=False, inplace=True)

coefficients_df

                    Feature  Coefficient  Absolute Coefficient
3                    Sector -1251.481186           1251.481186
0                      Year   447.265121            447.265121
1             State Encoded    14.548500             14.548500
2  Institution Name Encoded    -0.268117              0.268117

In [34]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import numpy as np

mse = mean_squared_error(y_test, predicted)
rmse = np.sqrt(mse)
mae = mean_absolute_error(y_test, predicted)
r2 = r2_score(y_test, predicted)

print("Mean Squared Error (MSE):", mse)
print("Root Mean Squared Error (RMSE):", rmse)
print("Mean Absolute Error (MAE):", mae)
print("R-squared (R2) score:", r2)

Mean Squared Error (MSE): 119784345.56479475
Root Mean Squared Error (RMSE): 10944.60349052421
Mean Absolute Error (MAE): 8794.29027514099
R-squared (R2) score: 0.04809673761414335

In [38]:
np.asarray(test)

array([[1, 17772.0, 1, ..., 5, 43, 4584],
       [1, 17656.0, 1, ..., 5, 52, 896],
       [1, 17502.0, 1, ..., 5, 43, 3225],
       ...,
       [9, 6279.0, 0, ..., 6, 10, 1517],
       [9, 6139.0, 0, ..., 6, 44, 3482],
       [9, 2550.0, 0, ..., 6, 10, 2046]], dtype=object)

In [36]:
from statsmodels.tsa.arima.model import ARIMA

model = ARIMA(train, order=(1,1,1))
fitted_model = model.fit()

forecast_values = fitted_model.forecast(steps=len(test))

ValueError: Pandas data cast to numpy dtype of object. Check input data with np.asarray(data).

## Add Data to DB

### Postgres

In [123]:
import psycopg2

# Define your connection parameters
db_host = 'localhost'
db_port = '5432'
db_name = 'tuition'
db_user = 'my_user'
db_password = 'password'

# Establish a connection to the PostgreSQL database
try:
    conn = psycopg2.connect(
        host=db_host,
        port=db_port,
        database=db_name,
        user=db_user,
        password=db_password
    )
    print("Connected to the database")
    
    cursor = conn.cursor()
    
    cursor.execute("SELECT version();")
    
    db_version = cursor.fetchone()
    print("PostgreSQL database version:", db_version)
    
except psycopg2.Error as e:
    print("Error connecting to PostgreSQL:", e)

Connected to the database
PostgreSQL database version: ('PostgreSQL 16.2 (Debian 16.2-1.pgdg120+2) on x86_64-pc-linux-gnu, compiled by gcc (Debian 12.2.0-14) 12.2.0, 64-bit',)

In [116]:
create_table_query = '''
CREATE TABLE IF NOT EXISTS Tuition (
    institution VARCHAR(100) NOT NULL,
    year INTEGER NOT NULL,
    sector INTEGER NOT NULL,
    sector_name VARCHAR(100) NOT NULL,
    state VARCHAR(25) NOT NULL,
    high_cost BOOLEAN NOT NULL,
    low_cost BOOLEAN NOT NULL,
    cost INTEGER NOT NULL
);
'''

cursor.execute(create_table_query)

conn.commit()

In [125]:
query = """
    SELECT table_name
    FROM information_schema.tables
    WHERE table_schema = 'public';  -- Assuming tables are in the public schema
"""

# Execute the SQL query
cursor.execute(query)

# Fetch the results
rows = cursor.fetchall()

# Print the table names
for row in rows:
    print(row[0])

tuition
Tuition

In [118]:
from sqlalchemy import create_engine

DATABASE_URL = "postgresql://my_user:password@localhost:5432/tuition"

engine = create_engine(DATABASE_URL)

table_name = 'Tuition'
data_clean.to_sql(table_name, engine, if_exists='replace', index=False)

engine.dispose()

In [124]:
query = "SELECT * FROM Tuition LIMIT 100;"

cursor.execute(query)

rows = cursor.fetchall()

for row in rows:
    print(row)

In [122]:
cursor.close()
conn.close()

### Mysql

In [ ]:
# https://dev.mysql.com/doc/connector-python/en/connector-python-example-connecting.html

import mysql.connector
from mysql.connector import errorcode

try:
  cnx = mysql.connector.connect(user='root',
                                password='password',
                                database='tuition')
except mysql.connector.Error as err:
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  else:
    print(err)
    
cursor = cnx.cursor()

print("DATABASES:")
cursor.execute("SHOW DATABASES")
for x in cursor:
    print(x)
    
print("\nTABLES:")    
cursor.execute("SHOW TABLES")
for x in cursor: 
    print(x)

DATABASES:
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)
('tuition',)

TABLES:

In [ ]:
# create_table = ("CREATE TABLE `Wiki_Edit` ("
#     " `RevisionID` INT PRIMARY KEY,"
#     " `ArticleName` VARCHAR(500),"
#     " `EditDate` DATE,"
#     " `UserName` VARCHAR(50))")

# try:
#     print(f'Creating Table "Wiki_Edit"')
#     cursor.execute(create_table)
# except mysql.connector.Error as err:
#     if err.errno == errorcode.ER_TABLE_EXISTS_ERROR:
#         print("already exists.")
#     else:
#         print(err.msg)
# else:
#     print("OK")