## Read Data

In [3]:
import pandas as pd 
import glob

path = './data/*.xls*'

files = glob.glob(path)

dfs = []
for file in files: 
    df = pd.read_excel(file)
    dfs.append(df)
    
df = pd.concat(dfs, ignore_index=True)

df

,"College Affordability and Transparency Data Files, 2010",Unnamed: 1,"College Affordability and Transparency Data Files, 2011","College Affordability and Transparency Data Files, 2012","College Affordability and Transparency Data Files, 2013","College Affordability and Transparency Data Files, 2014"
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,Contents of workbook,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN
5,Table,NaN,NaN,NaN,NaN,NaN
6,Tuition,This spreadsheet contains tuition and required...,NaN,NaN,NaN,NaN
7,Netprice,This spreadsheet contains average net price of...,NaN,NaN,NaN,NaN
8,TuitionChange,This spreadsheet contains tuition and required...,NaN,NaN,NaN,NaN
9,NetPriceChange,This spreadsheet contains average net price of...,NaN,NaN,NaN,NaN
10,Variable values,This spreadsheet gives the code values for var...,NaN,NaN,NaN,NaN
11,Stats_abef,This spreadsheet contains the summary statisti...,NaN,NaN,NaN,NaN
12,Stats_cd,This spreadsheet contains summary statistics f...,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,Contents of workbook,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,Table,NaN,NaN,NaN
19,NaN,This spreadsheet contains tuition and required...,Tuition,NaN,NaN,NaN
20,NaN,This spreadsheet contains average net price of...,Netprice,NaN,NaN,NaN
21,NaN,This spreadsheet contains tuition and required...,TuitionChange,NaN,NaN,NaN
22,NaN,This spreadsheet contains average net price of...,NetPriceChange,NaN,NaN,NaN
23,NaN,This spreadsheet gives the code values for var...,Variable values,NaN,NaN,NaN
24,NaN,This spreadsheet contains the summary statisti...,Stats_abef,NaN,NaN,NaN
25,NaN,This spreadsheet contains summary statistics f...,Stats_cd,NaN,NaN,NaN
26,NaN,NaN,NaN,Created: 6/6/2014,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,Contents of workbook,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,Description,NaN,Table,NaN,NaN
31,NaN,This spreadsheet contains tuition and required...,NaN,Tuition,NaN,NaN
32,NaN,This spreadsheet contains average net price of...,NaN,Netprice,NaN,NaN
33,NaN,This spreadsheet contains the percent change o...,NaN,TuitionChange,NaN,NaN
34,NaN,This spreadsheet contains the percent change o...,NaN,NetPriceChange,NaN,NaN
35,NaN,This spreadsheet gives the code values for var...,NaN,Variable values,NaN,NaN
36,NaN,This spreadsheet contains the summary statisti...,NaN,Stats_abef,NaN,NaN
37,NaN,This spreadsheet contains summary statistics f...,NaN,Stats_cd,NaN,NaN
38,NaN,NaN,NaN,NaN,"Created: May 15, 2015",NaN
39,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,Contents of workbook,NaN
41,NaN,Description,NaN,NaN,Table,NaN
42,NaN,This spreadsheet contains tuition and required...,NaN,NaN,Tuition,NaN
43,NaN,This spreadsheet contains average net price of...,NaN,NaN,Netprice,NaN
44,NaN,This spreadsheet contains the percent change o...,NaN,NaN,TuitionChange,NaN
45,NaN,This spreadsheet contains the percent change o...,NaN,NaN,NetPriceChange,NaN
46,NaN,This spreadsheet gives the code values for var...,NaN,NaN,Variable values,NaN
47,NaN,This spreadsheet contains the summary statisti...,NaN,NaN,Stats_abef,NaN
48,NaN,This spreadsheet contains summary statistics f...,NaN,NaN,Stats_cd,NaN
49,NaN,NaN,NaN,NaN,NaN,Created: 5/03/2016
50,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN,Contents of workbook
52,NaN,Description,NaN,NaN,NaN,Table
53,NaN,This spreadsheet contains tuition and required...,NaN,NaN,NaN,Tuition
54,NaN,This spreadsheet contains average net price of...,NaN,NaN,NaN,Netprice
55,NaN,This spreadsheet contains the percent change o...,NaN,NaN,NaN,TuitionChange
56,NaN,This spreadsheet contains the percent change o...,NaN,NaN,NaN,NetPriceChange
57,NaN,This spreadsheet gives the code values for var...,NaN,NaN,NaN,Variable values
58,NaN,This spreadsheet contains the summary statisti...,NaN,NaN,NaN,Stats_abef
59,NaN,This spreadsheet contains summary statistics f...,NaN,NaN,NaN,Stats_cd

## Clean Data

## Prediction Analysis

## Add Data to DB