## Read Data

In [ ]:
def process_data(df, year):
    
    df.rename(columns={'Name of institution': 'Institution Name'}, inplace=True)
    df.rename(columns={'Sector name': 'Sector Name'}, inplace=True)
    df.rename(columns={'Calendar system': 'Calendar System'}, inplace=True)
    
    df['Year'] = year[:4]
    df.rename(columns={year: 'Cost'}, inplace=True)
    
    df.drop(['OPEID', 'List C: High percent change tuition and fee indicator', 'Percent change'], axis=1, inplace=True)
    
    return df

In [ ]:
import pandas as pd 
import glob

xls_path = './data/*.xls'
xlsx_path = './data/*.xlsx'

xls_files = glob.glob(xls_path)
xlsx_files = glob.glob(xlsx_path)

dfs = []
years = {0: '2008-09 Tuition and fees', 
         1: '2009-10 Tuition and fees',
         2: '2010-11 Tuition and fees',
         3: '2011-12 Tuition and fees',
         4: '2012-13 Tuition and fees',
         5: '2013-14 Tuition and fees',
         6: '2014-15 Tuition and fees'}

for file in xls_files: 
    print(f'File: {file.split("/")[-1]}')
    df = pd.read_excel(file, sheet_name='TuitionChange')         
    
    for k, year in years.items():
        if year in df.columns:
            df = process_data(df, year)
            df.drop([years[k+2]], axis=1, inplace=True)
    
    print(f'Empty Counts: {df.isnull().sum()}\n')
    dfs.append(df)
    
for file in xlsx_files:
    print(f'File: {file.split("/")[-1]}')
    df1 = pd.read_excel(file, sheet_name='TuitionChange') 
    df2 = df1.copy()
    
    for k, year in years.items():
        if year in df1.columns:
            df1.drop([years[k+2]], axis=1, inplace=True)
            df1 = process_data(df1, year)
            df2.drop([year], axis=1, inplace=True)
            df2 = process_data(df2, years[k+2])
    
    print(f'Empty Counts 1: {df1.isnull().sum()}\n')      
    dfs.append(df1)
    print(f'Empty Counts 2: {df2.isnull().sum()}\n')
    dfs.append(df2)
        
dfs[-2], dfs[-3] = dfs[-3], dfs[-2]

data = pd.concat(dfs, axis=0, ignore_index=True)


data

## Clean Data

In [ ]:
data.isnull().sum()

In [ ]:
null_data = data[data['Cost'].isnull()].groupby('Institution Name').size().sort_values(ascending=False)
print(null_data)

null_data.value_counts()

In [ ]:
# fill in null values

from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder

clean_data = data.copy()

string_cols = ['Institution Name', 'State']
encoder = LabelEncoder()

for col in string_cols:
    clean_data.loc[:, col + ' Encoded'] = encoder.fit_transform(clean_data.loc[:, col])
    
data_missing = clean_data[clean_data['Cost'].isnull()]
data_complete = clean_data.dropna()

X_train = data_complete[['Year', 'UnitID', 'Institution Name Encoded', 'State Encoded']]
y_train = data_complete['Cost']

X_test = data_missing[['Year', 'UnitID', 'Institution Name Encoded', 'State Encoded']]

model = LinearRegression()
model.fit(X_train, y_train)

predicted_values = model.predict(X_test)

clean_data.loc[clean_data['Cost'].isnull(), 'Cost'] = predicted_values
clean_data['Predicted'] = 0
clean_data['Year'] = pd.to_datetime(clean_data['Year'])

print(clean_data['Year'].unique())

In [ ]:
start_year = clean_data['Year'].dt.year.min()
end_year = clean_data['Year'].dt.year.max()
years_range = range(start_year, end_year + 1)

institutions_missing_years = {}
colleges_with_gaps = {}
count = 0

grouped = clean_data.groupby(['Institution Name', 'State', 'UnitID'])
print(f'Total Institutions : {len(grouped)}')
print('Institutions Yearly Data Count')
print(grouped['Year'].nunique().value_counts().sort_index())
print()

institutions_with_gaps = []

for (name, state, unitid), group in grouped:
    years_present = group['Year'].dt.year
    gaps = years_present.diff().fillna(1).ne(1)
    
    if gaps.any():
        institutions_with_gaps.append((name, state, unitid, list(years_present)))

count = 0
for institution in institutions_with_gaps:
    if len(institution[3]) > 3:
        print(f"Institution: {institution[0]}, State: {institution[1]}, ID: {institution[2]}")
        print(f"Existing Years: {institution[3]}")
        print()
        count += 1
        
print(f'Fillable Years : {count}')

### **Do the next section if worth creating 387 rows from step above...**

In [ ]:
# names = clean_data['Institution Name'].unique()

# rows = []

# earliest = clean_data['Year'].unique().min()
# latest = clean_data['Year'].unique().max()
# years = clean_data['Year'].unique()

# for name in names:
#     name_data = clean_data.loc[clean_data['Institution Name'] == name]
    
#     if len(name_data) < 5:
#         continue
    
#     for year in years:
#         if year not in name_data['Year'].values:
#             if year == earliest or year == latest:
#                 continue
            
#             print(name_data)
            
#             prev_row = name_data.loc[name_data['Year'] == year - pd.DateOffset(years=1)]
#             next_row = name_data.loc[name_data['Year'] == year + pd.DateOffset(years=1)]
            
#             if prev_row.empty:
#                 prev_row = name_data.loc[name_data['Year'] == year - pd.DateOffset(years=2)]
        
#             if next_row.empty:
#                 next_row = name_data.loc[name_data['Year'] == year + pd.DateOffset(years=2)]
                                                                                   
#             prev_row = prev_row.iloc[0]
#             next_row = next_row.iloc[0]
#             cost = (prev_row ['Cost'] + next_row['Cost']) / 2 
#             row = prev_row
#             row['Year'] = year
#             row['Cost'] = cost
#             row['Predicted'] = 1
#             rows.append(row)

In [ ]:
# final_data = pd.concat([clean_data] + rows, ignore_index=True)

In [ ]:
# final_data.isnull().sum()

## Prediction Analysis

In [ ]:
from statsmodels.tsa.arima.model import ARIMA

pred_rows = []

for (name, state, unitid), institution_data in grouped:
    df = institution_data.copy()
    pred = df.iloc[-1].copy()
    
    if df['Year'].dt.year.diff().fillna(1).ne(1).any() or len(df) < 4:
        continue
    
    df.set_index('Year', inplace=True)
    df.index = pd.DatetimeIndex(df.index, freq='infer')

    forecast = ARIMA(df['Cost'], order=(1,0,0)).fit().forecast(steps=3)
    
    for idx, cost in enumerate(forecast):
        pred_row = pred.copy()
        pred_row['Predicted'] = 1 
        pred_row['Cost'] = cost
        pred_row['Year'] = pred_row['Year'] + pd.DateOffset(years=idx+1)
        pred_rows.append(pred_row)

print(len(pred_rows))

In [ ]:
clean_data = pd.concat([clean_data] + pred_rows, ignore_index=True)

## Add Data to DB

### Postgres

In [ ]:
# Change year to an integer
clean_data['Year'] = clean_data['Year'].dt.year

In [ ]:
import psycopg2

# Define your connection parameters
db_host = 'localhost'
db_port = '5432'
db_name = 'tuition'
db_user = 'my_user'
db_password = 'password'

# Establish a connection to the PostgreSQL database
try:
    conn = psycopg2.connect(
        host=db_host,
        port=db_port,
        database=db_name,
        user=db_user,
        password=db_password
    )
    print("Connected to the database")
    
    cursor = conn.cursor()
    
    cursor.execute("SELECT version();")
    
    db_version = cursor.fetchone()
    print("PostgreSQL database version:", db_version)
    
except psycopg2.Error as e:
    print("Error connecting to PostgreSQL:", e)

In [ ]:
create_table_query = '''
CREATE TABLE IF NOT EXISTS Tuition (
    institution VARCHAR(100) NOT NULL,
    year INTEGER NOT NULL,
    sector INTEGER NOT NULL,
    sector_name VARCHAR(100) NOT NULL,
    state VARCHAR(25) NOT NULL,
    high_cost BOOLEAN NOT NULL,
    low_cost BOOLEAN NOT NULL,
    cost INTEGER NOT NULL
);
'''

cursor.execute(create_table_query)

conn.commit()

In [ ]:
query = """
    SELECT table_name
    FROM information_schema.tables
    WHERE table_schema = 'public';  -- Assuming tables are in the public schema
"""

# Execute the SQL query
cursor.execute(query)

# Fetch the results
rows = cursor.fetchall()

# Print the table names
for row in rows:
    print(row[0])

In [ ]:
from sqlalchemy import create_engine

DATABASE_URL = "postgresql://my_user:password@localhost:5432/tuition"

engine = create_engine(DATABASE_URL)

table_name = 'Tuition'
clean_data.to_sql(table_name, engine, if_exists='replace', index=False)

engine.dispose()

In [ ]:
query = "SELECT * FROM Tuition LIMIT 100;"

cursor.execute(query)

rows = cursor.fetchall()

for row in rows:
    print(row)

In [ ]:
cursor.close()
conn.close()